# --- Solar Manager Producer ---
SOLAR_MANAGER_USER=mail
SOLAR_MANAGER_PASSWORD=password
SOLAR_MANAGER_SM_ID=id
SOLAR_MANAGER_POLL_INTERVAL_SECONDS=60

# --- Photovoltaic default values ---
PV_PEAK_POWER_W=5000
PV_PERFORMANCE_RATIO=0.80
PV_TOLERANCE_PCT=0.15
PV_WEATHER_STATION_ID=villmergen

# --- Windpark default values ---
WIND_WEATHER_STATION_ID=krummendeich
WIND_RPM_MIN_FACTOR=0.25
WIND_RPM_MAX_FACTOR=2.0