# --- Weather-Producer  ---
WEATHER_LATITUDE=0.0000
WEATHER_LONGITUDE=0.0000
WEATHER_STATION_ID=location
WEATHER_POLL_INTERVAL_SECONDS=900

# --- Solar Manager Producer ---
SOLAR_MANAGER_USER=yourmail
SOLAR_MANAGER_PASSWORD=yourpassword
SOLAR_MANAGER_SM_ID=your_sm_id
SOLAR_MANAGER_POLL_INTERVAL_SECONDS=60